@import "tailwindcss";

@theme {
    --font-display: "Plus Jakarta Sans", sans-serif;

    --color-primary: #9D6B24;
    --color-secondary: #6B7280;
    --color-accent: #F59E0B;
    --color-background: #ffffff;

    --color-card: #E1E0DE;
}

@layer base {
    html {
        font-family: var(--font-display);
        background-color: var(--color-background);
        color: #000000;
        /* opsional */
    }
}